## JSON Based Data Exercise

Using data in file 'data/world_bank_projects.json',
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 0:  Get started

In [1]:
# Load libraries
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
# Load file as Pandas dataframe
json_df = pd.read_json('data_wrangling_json/data/world_bank_projects.json')

In [3]:
# Look at the shape of the df
json_df.shape

(500, 50)

In [4]:
# Look at data 
json_df.head(3)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en

In [5]:
# Look at the columns
json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

Some takeaways:

* Each observation is an investment
* Each investment has some country attributes
* Each investment has some theme attributes

## 1:  Find top-10 countries with most projects

In [6]:
json_df['countryshortname'].value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

## 2:  Find top-10 major project themes

In [7]:
# Look at the relevant columns
json_df[['_id', 'mjsector_namecode', 'mjtheme', 'mjtheme_namecode', 'mjthemecode']].head(5)

,_id,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode
0,{'$oid': '52b213b38594d8a2be17c780'},"[{'code': 'EX', 'name': 'Education'}, {'code':...",[Human development],"[{'code': '8', 'name': 'Human development'}, {...","8,11"
1,{'$oid': '52b213b38594d8a2be17c781'},"[{'code': 'BX', 'name': 'Public Administration...","[Economic management, Social protection and ri...","[{'code': '1', 'name': 'Economic management'},...","1,6"
2,{'$oid': '52b213b38594d8a2be17c782'},"[{'code': 'TX', 'name': 'Transportation'}]","[Trade and integration, Public sector governan...","[{'code': '5', 'name': 'Trade and integration'...","5,2,11,6"
3,{'$oid': '52b213b38594d8a2be17c783'},"[{'code': 'JX', 'name': 'Health and other soci...","[Social dev/gender/inclusion, Social dev/gende...","[{'code': '7', 'name': 'Social dev/gender/incl...","7,7"
4,{'$oid': '52b213b38594d8a2be17c784'},"[{'code': 'YX', 'name': 'Industry and trade'},...","[Trade and integration, Financial and private ...","[{'code': '5', 'name': 'Trade and integration'...","5,4"

In [8]:
# Build a normalied table from mjtheme_namecode loaded as a string
json_str = json.load((open('data_wrangling_json/data/world_bank_projects.json')))
df_theme = json_normalize(json_str, 'mjtheme_namecode', '_id')
df_theme.head()

,code,name,_id
0,8,Human development,{'$oid': '52b213b38594d8a2be17c780'}
1,11,,{'$oid': '52b213b38594d8a2be17c780'}
2,1,Economic management,{'$oid': '52b213b38594d8a2be17c781'}
3,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c781'}
4,5,Trade and integration,{'$oid': '52b213b38594d8a2be17c782'}

In [9]:
# Look at the shape of the table
df_theme.shape

(1499, 3)

In [10]:
# Count the top 10 themes by code
df_theme['code'].value_counts().head(10)

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [11]:
# Count the top 10 themes by names
df_theme['name'].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

NOTE:  The difference in count by code and count by name highlights the data quality problem--some of the names are missing

## 3:  Create a data frame with the missing names filled in

In [12]:
# Look for missing values
df_theme.isna().sum()

code    0
name    0
_id     0
dtype: int64

In [13]:
# Look at an exmample of a missing value
df_theme.loc[1]['name']

''

In [14]:
# Make a lookup table
# Drop the rows with '' as missing names
df_lookup = df_theme[df_theme['name'] != '']
# Drop the columns that aren't needed
df_lookup = df_lookup.drop(['_id'], axis=1)
# Drop duplicates
df_lookup = df_lookup.drop_duplicates()
# Set index
df_lookup.set_index('code',inplace=True)
df_lookup.sort_values('code')

                                              name
code
1                              Economic management
10                               Rural development
11    Environment and natural resources management
2                         Public sector governance
3                                      Rule of law
4         Financial and private sector development
5                            Trade and integration
6            Social protection and risk management
7                      Social dev/gender/inclusion
8                                Human development
9                                Urban development

In [15]:
# Map the names from lookup table back to my dataframe
df_theme['name'] = df_theme['code'].map(df_lookup['name'])
df_theme.head(5)

,code,name,_id
0,8,Human development,{'$oid': '52b213b38594d8a2be17c780'}
1,11,Environment and natural resources management,{'$oid': '52b213b38594d8a2be17c780'}
2,1,Economic management,{'$oid': '52b213b38594d8a2be17c781'}
3,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c781'}
4,5,Trade and integration,{'$oid': '52b213b38594d8a2be17c782'}

In [16]:
# Display the top 10 themes
df_theme['name'].value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64